@media screen and (max-width: 1200px) {
    .navigation {
        display: flex;
        flex-direction: column;
    }

    .nav-left {
        display: flex;
        flex-direction: column;
    }

    .nav-right {
        margin: 15px 0;
    }

    .content-right {
        display: none;
    }

    .home-article {
        display: flex;
        flex-direction: column;
    }

    .home-article-img {
        text-align: center;
    }

    .home-article-content span {
        align-self: center;
        text-align: center;
    }

    .home-article-content a h3 {
        text-align: center;
    }
    
    .year-box h3 {
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .home-article-img img {
        width: 95%;
        min-width: 0;
    }
    .content{
        height: 615px;
    }

}

@media screen and (max-width:760px) {

    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

@media screen and (max-width:1120px) {
    /* .more-articles {
        display: flex;
        align-items: center;
        justify-content: start;
        display: flex;
        flex-direction: column;
    } */
    .more-articles {
        display: flex;
        flex-direction: column;
    }
    .blog-more-article-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 620px){
    .heading-and-year-box{
        display: flex;
        flex-direction: column-reverse;

    }
}

@media screen and (max-width:400px){
    .content {
        height: 700px;
    }
}